.container-main {
    padding: 0 10px;
    width: 100%;
}

.main {
    margin-top: 2em;
    padding: .5em 0;
    background: #f8f9fa;
    box-shadow: 1px 4px 8px #d7d6d6;
}
.main.dark {
    background: #212529;
    box-shadow: 1px 4px 8px #232323;
    color: #fff;
}

@media (max-width: 992px) {
    .container-main {
        padding: 0;
    }
    .main {
        box-shadow: none;
        background: none;
        padding: 0;
    }
    .main.dark {
        background: #292929;
        box-shadow: none;
    }
}