*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ajustavel-1 {
    font-size: 6vw;
}
.ajustavel-2{
    font-size: 5vw;
}
.ajustavel-3{
    font-size: 4vw;
}
.ajustavel-4{
    font-size: 3vw;
}
.ajustavel-5{
    font-size: 2vw;
}
.ajustavel-6{
    font-size: 1.3vw;
}

.toast {
    margin: 10px;
}

.dark form p {
    font-size: 1em;
    margin-bottom: 0;
}

.dark input:not([type="checkbox"]), .dark textarea {
    color: #fff;
    background: transparent;
}

.dark input:not([type="checkbox"]):focus, .dark textarea:focus {
    background: transparent;
    color: #fff;
}

.small-header {
    background: #fff;
}

.small-header a {
    color: #222;
}

.small-header.dark {
    background: #292929;
}

.small-header.dark a {
    color: #fff;
}

@media (max-width: 992px) {
    .ajustavel-1 {
        font-size: 7vw;
    }
    .ajustavel-2{
        font-size: 6vw;
    }
    .ajustavel-3{
        font-size: 5vw;
    }
    .ajustavel-4{
        font-size: 4vw;
    }
    .ajustavel-5{
        font-size: 3vw;
    }
    .ajustavel-6{
        font-size: 2vw;
    }
    .btn {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .ajustavel-6{
        font-size: 2.5vw;
    }
    .btn {
        font-size: 1.5vw;
        width: 1vw 1vw;
    }
}
@media (max-width: 400px) {
    .btn {
        font-size: 2vw;
        width: .5vw .5vw;
    }
    .toast {
        max-width: 60%;
        font-size: .7em;
    }
}
